@import "tailwindcss" important;

@theme {
  /* Custom font sizes */
  --text-2xs: 0.5rem;
  --text-xs: 0.60rem;
  --text-sm: 0.75rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;

  /* Custom spacing */
  --spacing-18: 4.5rem;
  --spacing-128: 32rem;

  /* Custom breakpoints */
  --breakpoint-3xl: 1900px;
}

::backdrop {
  background-image: linear-gradient(45deg,
      var(--color-primary-950),
      var(--color-primary-700),
      var(--color-primary-400),
      var(--color-primary-200));
  opacity: 0.8;
}